services/app-core/target/
services/app-service/target/
services/.idea/
services/services.iml
services/app-core/app-core.iml
services/app-service/app-service.iml
services/israjhaliri.com-log
**/.DS_Store
